@font-face{
 font-family:"font";
 src:url(../fonts/ar-archy-extralight.ttf);
}


 .home_index{
max-width: 100%;
}
/* header  *//* header  *//* header  *//* header  *//* header  *//* header  *//* header  */

.home_header{
 position: fixed;
 background-color: white;
 z-index: 3;
 width: 100%;
 display: flex;
 justify-content: center;
}

.header_home_nav{
 width: 100%;
 display: flex;
 justify-content: center;
 height: 150px;

}

.header_home_ul{
 align-items: center;
 display: flex;
 justify-content: center;
 width: 65%;
gap: -50px;
}

 .header_home_li{
 display: flex;
 justify-content: center;
width: 20%;
font-size: 27px;
font-family: "font";
font-weight:900 ;

}

.header_home_a{
  color: black;

}

.header_home_li:hover{color: gold;}

.header_home_a:hover{
  color: gold;
  transform: scale(1.1);
  transition: 0.7s ease ;
 
}

.logo_nav:hover{
 transform: scale(1.1);
  transition: 0.7s ease ;

}



.logo_nav{width:100%;
height: 120px;
}

.fa-solid{font-size: 28px;}

.icons_1{position: absolute;
top: 20%;
left: 85%;

}
.icons_2{position: absolute;
top: 20%;
left: 88%;

}
/* header  *//* header  *//* header  *//* header  *//* header  *//* header  *//* header  */
/* slideshow  *//* slideshow  *//* slideshow  *//* slideshow  *//* slideshow  */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
  height: 500px;
}

.slide {
  display: none;
}

.slide_image{
  width: 100%;
  height: 350px;
position: absolute;
top: 28%;
left: 50%;

transform: translate(-50%);

}

.dot-container {
 position: absolute;
  text-align: center;
  margin-top: 20px;
  top: 90%;
left: 50%;


transform: translate(-50%);
}

.dot {

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgb(232, 117, 198);
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: gold;
}

.fade {
  animation: fade 4s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* slideshow  *//* slideshow  *//* slideshow  *//* slideshow  *//* slideshow  *//* slideshow  *//* slideshow  */

/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */ 

 .footer1{
width: 100%;
 
  background-color: rgb(255, 183, 0);
display: flex;
padding: 50px 4%;
justify-content: space-between;
align-items: center;
;
margin-top: 134px;


 }
.footer_socials{
line-height: 20px;

}

.footer_h4{font-size: 50px;}

 
 i{font-size: 60px;}





/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
